TestHarness/Connected Services/TextServiceReference/TextService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Case">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="incoming" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CaseSoapIn">
    <wsdl:part name="parameters" element="tns:Case" />
  </wsdl:message>
  <wsdl:message name="CaseSoapOut">
    <wsdl:part name="parameters" element="tns:CaseResponse" />
  </wsdl:message>
  <wsdl:portType name="TextServiceSoap">
    <wsdl:operation name="Case">
      <wsdl:input message="tns:CaseSoapIn" />
      <wsdl:output message="tns:CaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TextServiceSoap" type="tns:TextServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Case">
      <soap:operation soapAction="http://tempuri.org/Case" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TextServiceSoap12" type="tns:TextServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Case">
      <soap12:operation soapAction="http://tempuri.org/Case" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextService">
    <wsdl:port name="TextServiceSoap" binding="tns:TextServiceSoap">
      <soap:address location="http://localhost/TextService/TextService.asmx" />
    </wsdl:port>
    <wsdl:port name="TextServiceSoap12" binding="tns:TextServiceSoap12">
      <soap12:address location="http://localhost/TextService/TextService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>